language: python
sudo: false
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - 3.7-dev
    - pypy
    - pypy3
env:
    - FORCE_TEST_VCS=bzr
    - FORCE_TEST_VCS=git
    - FORCE_TEST_VCS=hg
    - FORCE_TEST_VCS=svn
install:
    - pip install coverage coveralls mock
script:
    - SKIP_NO_TESTS=1 coverage run --source=check_manifest setup.py test -q
    - coverage run --source=check_manifest --append check_manifest.py
after_script:
    - coveralls
notifications:
    email: false
